*.o
*.so
*.swo
*.swp
Makefile.old


libmain/fish_clock_xs/MYMETA.json
libmain/fish_clock_xs/MYMETA.yml
libmain/fish_clock_xs/Makefile
libmain/fish_clock_xs/blib/
libmain/fish_clock_xs/fish_clock_xs.c
libmain/fish_clock_xs/mylib/MYMETA.json
libmain/fish_clock_xs/mylib/MYMETA.yml
libmain/fish_clock_xs/mylib/Makefile
libmain/fish_clock_xs/mylib/libfish_clock_xs.a
libmain/fish_clock_xs/pm_to_blib

vi
